
.maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.teamimg {
    width: 100%;
    height: auto;
}

.teamtypescards {
    display: flex;
    justify-content: center;
}

.emailisss{
    margin-bottom: 3rem;
}

.caruselbg {
    background-color: #073454;
    padding: 2rem 3rem 2rem 3rem; 
}

.center_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
}
.textalign_center{
    max-width: 12rem;
}

@media (max-width: 900px) {
    .welcomelogin, .welcomelogincut {
        width: 100%;
        height: auto;
    }
    .maincontent {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .teamimg {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .welcomelogin {
        width: 100%;
        padding: 1rem;
    }
    .welcomelogincut {
        height: auto;
        padding: 0;
    }
    .maincontent {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .loginbtn {
        padding: 0.7rem 2rem;
        font-size: 1rem;
        margin-top: 10rem;
    }
    h1, h2, h3 {
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }
    .emailnyhed {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .teamtypescards {
        flex-direction: column;
        align-items: center;
    }
}
