
.heroimg{
    background-image: url('/assets/images/welcome.jpg');
    background-size: cover;
    background-position: top;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.5rem;
    
}

